<div id="states-index">
  <div class="alert alert-warning" role="alert">
    <strong> Development Note:</strong> All seed data is under
    <%= link_to "MA", state_path("MA") %>.
  </div>

  <% us_states.each do |state| %>
    <a class="btn btn-default state pull-left" href=<%= state_path(state) %> role="button">
      <%= state %>
    </a>
  <% end %>
</div>
