<div id="states-index">
  <div class="alert alert-warning" role="alert">
    <strong> Development Note:</strong> All seed data is under
    <%= link_to "MA", state_path("MA") %>.
  </div>

  <div class="row">
    <% us_states.each do |state| %>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <a class="btn btn-default state" href=<%= state_path(state) %> role="button">
          <%= state %>
        </a>
      </div>
    <% end %>
  </div>
</div>
