<div id="state-show">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="text-center">
        <h2> <%= ApplicationHelper.state_name(params[:state]) %> </h2>
      </div>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <a class="btn btn-default btn-block"
             href=<%= committees_path(params[:state]) %>
           role="button">
           Committees
          </a>
          <a class="btn btn-default btn-block"
             href=<%= legislators_path(params[:state]) %>
           role="button">
           Legislators
          </a>
          <a class="btn btn-default btn-block"
             href=<%= bills_path(params[:state]) %>
           role="button">
           Bills
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
