<div id="state-show">
  <div id="legislators">
    <h3> <%= link_to "Legislators", legislators_url(state: params[:state]) %>
  </div>

  <div id="committees">
    <h3> <%= link_to "Committees", committees_url(state: params[:state]) %>
  </div>
</div>
