<div id="committee-index">
  <div class="body">
    <h3> House </h3>
    <ul class="links">
      <% @committees[:house].each do |committee| %>
        <li> <%= link_to committee.name, committee_path(committee.id) %> <br/> </li>
      <% end %>
    </ul>
  </div>

  <div class="body">
    <h3> Senate </h3>
    <ul class="links">
      <% @committees[:senate].each do |committee| %>
        <li> <%= link_to committee.name, committee_path(committee.id) %> <br/> </li>
      <% end %>
    </ul>
  </div>

  <div class="body">
    <h3> Joint </h3>
    <ul class="links">
      <% @committees[:joint].each do |committee| %>
        <li> <%= link_to committee.name, committee_path(committee.id) %> <br/> </li>
      <% end %>
    </ul>
  </div>
</div>
