<div id="committees">
  <div class="body">
    <div class="header"> House </div>
    <ul>
      <% @committees[:house].each do |committee| %>
        <li> <%= link_to committee.name, committee_path(committee.id) %> <br/> </li>
      <% end %>
    </ul>
  </div>

  <div class="body">
    <div class="header"> Senate </div>
    <ul>
      <% @committees[:senate].each do |committee| %>
        <li> <%= link_to committee.name, committee_path(committee.id) %> <br/> </li>
      <% end %>
    </ul>
  </div>

  <div class="body">
    <div class="header"> Joint </div>
    <ul>
      <% @committees[:joint].each do |committee| %>
        <li> <%= link_to committee.name, committee_path(committee.id) %> <br/> </li>
      <% end %>
    </ul>
  </div>
</div>
