<table>
  <thead>
    <tr>
      <th> Committee Membership </th>
    </tr>
    <tr>
      <% @legislator_parties.each do |party| %>
        <th> <%= party %> </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @table_len.times do |i| %>
      <tr>
        <% @legislator_parties.each do |p| %>
          <% if @committee.body === "Joint" %>
            <td> <%= "#{@members[p][i].name} (#{@members[p][i].body[0]})" if @members[p][i] %></td>
          <% else %>
            <td> <%= @members[p][i].name if @members[p][i] %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

