#committee-index {
  .body {
    display: inline-block;
    vertical-align: top;
    width: 33%;
  }
}

#committee-show {
  table.committee-membership th {
    background-color: #FFF9C4;
  }
  table.committee-membership th.Democrat {
    background-color: #BBDEFB;
  }

  table.committee-membership th.Republican {
    background-color: #FFCDD2;
  }

  table.committee-membership th.Independent {
    background-color: #E1BEE7;
  }

  table.committee-membership td {
    background-color: #FFFDE7;
  }

  table.committee-membership td.empty {
    background-color: transparent;
  }

  table.committee-membership td.Democrat {
    background-color: #E3F2FD;
  }

  table.committee-membership td.Republican {
    background-color: #FFEBEE;
  }

  table.committee-membership td.Independent {
    background-color: #F3E5F5;
  }

  table.committee-membership td .district {
    font-style: italic;
    font-size: 12px;
  }
}
