body {
  background-color: #264653 !important;
}

#o {
  color: white;
  font-family: Ubuntu, Arial, sans-serif;

  a {
    color: #07A3C5;
    font-weight: bold;

    &:hover {
      color: #00C1EC;
      text-shadow: 0px 0px 2px rgb(0, 50, 150);
      text-decoration: none;
      transition: all .1s linear;
    }

    &.btn {
      color: white;

      &:hover{
        text-shadow: none;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        transition: all .1s linear;
      }
    }
  }

  a.state {
    background-color: #FC7753;
    border: 1px solid #A14C35;
    margin: 20px;
    padding: 40px;
    width: 175px;

    &:hover {
      background-color: #FC9C81;
    }
  }

  ul {
    list-style: none;
  }

  a.btn {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .alert-warning {
    background-color: #ffed8f;
    border-color: #ffac00;
    color: #ab6e05;
  }

  .jumbotron {
    background-color: #617881;
  }

  .panel {
    background-color: #7B9EA8;
    border: 1px solid #171D1F;

    .panel-heading {
      color: white;
      background-color: #203A44;
      border-bottom: 1px solid #171D1F;
    }

    .panel-body {
      a.btn {
        background-color: #D7DDDF;
        color: #123F53;

        &:hover {
          background-color: #EBEEEF;
        }
      }
    }
  }

  #state-show {
    a.btn {
      padding: 3%;
      margin-bottom: 15px;
      font-size: x-large;
    }
  }

  #committee-show {
    table.committee-membership {
      border: none;
      color: black;

      a:hover {
        text-shadow: 0px 0px 2px rgba(0, 50, 150, .5);
      }

      th {
        background-color: #FFF9C4;
        border: 1px solid black;
        text-align: center;

        &.Democrat {
          background-color: #BBDEFB;
        }

        &.Republican {
          background-color: #FFCDD2;
        }

        &.Independent {
          background-color: #E1BEE7;
        }
      }

      td {
        background-color: #FFFDE7;
        border: 1px solid black;
        height: 57px;
        text-align: center;

        &.empty {
          background-color: transparent;
          border: none;
        }

        &.Democrat {
          background-color: #E3F2FD;
        }

        &.Republican {
          background-color: #FFEBEE;
        }

        &.Independent {
          background-color: #F3E5F5;
        }
      }
    }
  }
}
